/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #350e00;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header .logo h1 span {
    color: yellow;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    padding: 14px 16px;
    position: relative; /* Adicionado para dropdown */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #350e00;
    min-width: 160px;
    z-index: 1;
    top: 48px; /* Ajuste para alinhar com a altura do menu */
    left: 0;
    flex-direction: column; /* Garantir que os itens fiquem um embaixo do outro */
}

nav ul li.dropdown .dropdown-content a {
    padding: 12px 16px; /* Espaçamento interno dos itens do dropdown */
    text-align: left; /* Alinhar texto à esquerda */
    color: white;
    text-decoration: none;
    display: block;
}

nav ul li.dropdown:hover .dropdown-content {
    display: flex; /* Mostrar os itens do dropdown */
}

nav ul li a.no-click {
    pointer-events: none; /* Desabilita o clique */
    cursor: default; /* Muda o cursor para indicar que não é clicável */
}

.search {
    padding: 0 16px;
}

.search input {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

main {
    padding: 20px;
}

#produtos, #categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os produtos */
}

.produto, .categoria {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto img, .categoria img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #350e00;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    padding: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}